body {
    font-family: 'Roboto', sans-serif;
    background: #f7f9fc;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007BFF;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container label {
    font-weight: 500;
    text-align: left;
    margin-bottom: 5px;
    display: block;
}

.container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s;
}

.container input[type="text"]:focus {
    border-color: #007BFF;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.input-wrapper label {
    font-weight: 500;
    margin-bottom: 5px;
}

.number-inputs {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.number-input-item {
    width: 50%;
}

.number-input-item label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
}

.number-input-item input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.2s;
}

.cfg-item {
    width: inherit;
}

.container input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.container input[type="submit"]:hover {
    background-color: #0056b3;
}

.container a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    transition: color 0.2s;
}

.container a:hover {
    color: #0056b3;
}

.audio-anim-wrapper {
    display: none;
    min-height: 40px;
    height: 40px;
}

.audio-wave {
    margin-top: 20px;
    display: none;
    justify-content: center;
    gap: 3px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}

.audio-wave div {
    width: 5px;
    height: 20px;
    background: #007BFF;
    animation: wave 1s infinite ease-in-out;
    border-radius: 2px;
}

.audio-wave.active {
    opacity: 1; /* Fully visible when active */
}

.audio-wave div:nth-child(2) {
    animation-delay: 0.1s;
}

.audio-wave div:nth-child(3) {
    animation-delay: 0.2s;
}

.audio-wave div:nth-child(4) {
    animation-delay: 0.3s;
}

.audio-wave div:nth-child(5) {
    animation-delay: 0.4s;
}

@keyframes wave {
    0%, 100% {
        height: 20px;
    }
    50% {
        height: 30px;
    }
}

.audio-players {
    margin-top: 20px;
}

.audio-players h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #007BFF;
}

.audio-players audio {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

/* Hide the arrows in Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.drop-zone {
    width: 100%;
    padding: 1 20px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s;
}

.drop-zone:hover {
    border-color: #888;
}

.drop-zone.dragover {
    border-color: #000;
}

/* Basic styles for the cookie banner */
#cookieConsent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    z-index: 1000;
    display: none; /* Initially hidden */
}

#cookieConsent button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
}

#cookieConsent button:hover {
    background-color: #0056b3;
}


.container {
    display: none; /* Initially hidden */
}

/* Toggle button style */
.toggle-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    display: inline-block;
    color: #007BFF;
}

.toggle-button:hover {
    background-color: #e0e0e0;
}

/* Advanced options, initially hidden */
.advanced-options {
    display: none;
    margin-top: 15px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.input-placeholder-anim::placeholder {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid transparent;
    animation: typing 2s steps(30, end) infinite;
}